<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- Here is how to make comments in html -->


    <h1>Here are some recommendations:</h1>
    <!-- the code below is jinja and renders 
        the variable passed from application.py -->
    <ul>
    {% for movie in movies_details %}
        <li><a href="{{url_for('movie_info', movieId=movie['movieId'])}}">{{ movie['title'] }}</a></li>
    {% endfor %}
    </ul>
   
</body>
</html>